<div class="about">
  <h2>About</h2>
  <img src="/assets/IMG_0699.JPG" alt="Daiki's photo" class="image" />
  <p>
    I've always been a creator at heart,
    whether it's crafting intricate origami or designing dynamic Excel schedules.
    But my true calling emerged when I volunteered to overhaul my local chorus's website with WordPress.
    The thrill of it all led me to realize that software development was my path.</p>
  <p>
    Since that moment,
    I've dedicated countless hours to honing my skills at Revature,
    working on exciting projects with Angular and Spring frameworks.
    It's the perfect blend of invention and collaboration with like-minded colleagues.
  </p>
  <p>
    My background? Well,
    I hold a bachelor's degree in business administration and a Front-End Software Development certificate.
    I spent 17 years in retail management,
    overseeing a team of 30 and managing a store with a $40 million turnover.
    Even in retail,
    I was drawn to technology and even played a role in introducing a custom application to my store.
  </p>
  <p>
    People often describe me as a natural leader and mentor.
    I excel in active listening, which helps me connect deeply in conversations.
    Let's team up - my passion for creation, technical prowess,
    and leadership abilities make me an ideal candidate for achieving great things together.
  </p>
</div>