<div>
    <p>I have always been driven by a passion for creation, from designing intricate origami displays to crafting dynamic schedule templates on Excel sheets. However, my true calling in the realm of creation began when I volunteered to revamp my local chorus's website using WordPress. The experience was exhilarating, and I knew in that moment that I wanted to pursue a career in software development.
        Since then, I have honed my skills through countless hours of hard work and collaboration. At Revature, I have had the opportunity to work on numerous projects with teams, building enterprise-level applications using Angular and Spring frameworks. This work not only fulfills my desire to invent, but also allows me to collaborate with colleagues who share my passion.
        But my technical background is only part of my story. With a bachelor's degree in business administration and a certificate in Front-End Software Development, I bring a wealth of experience to any team. I spent 17 years in retail management, leading a team of 30 and managing a store with a turnover of 40 million dollars. Despite my focus on retail, I always found myself drawn to technology. I even spearheaded the introduction of a custom application in my store, providing feedback to the software developers to help them improve the product.
        Throughout my career, my colleagues have recognized me as a natural leader with a gift for developing others. My active listening skills allow me to fully engage with every conversation, and I have even had the opportunity to meet and speak with some of the world's most influential figures, including Bernard Arnault, the richest person on the planet.
        In short, my passion for creation, technical skills, and leadership qualities makes me an ideal candidate for any team looking to achieve great things.
    </p>
    <h2>Education</h2>
    <section>
        <h3>Promineo Tech with CSN - Las Vegas</h3>
        <p>Front-End Software Program Bootcamp, 2022</p>
    </section>
    <section>
        <h3>Western Governos University - Remote</h3>
        <p>Bachelor of Science, 2020</p>
        <p>Business Administration, Management, and Operations</p>
    </section>
    <section>
        <h3>Collect of Sothern Nevada - Las Vegas</h3>
        <p>Associate of Arts, 2016</p>
        <p>Art Studies, General</p>
    </section>
</div>
